@use './variables' as variables;

h1.designer-heading{
    font-size:3em;
    color:variables.$primary_color;
    position:relative;
    padding-bottom:0.2em;
    font-family:variables.$main_font;
    text-transform:uppercase;
    width:fit-content;
    $height : 0.2em;

    &::after{
        content:"";
        position:absolute;
        top:100%;
        width:60%;
        left:0px;
        height:$height;
        border-radius:2em;
        transform:translateY(-50%);
        background-color:variables.$primary_color;
    }
    &::before{
        content:"";
        position:absolute;
        top:100%;
        height:0.4em; 
        width:0.4em;
        transform:translateY(-50%);
        border-radius:50%;
        background-color:variables.$primary_color;
        left:calc(60% + 0.5em);
    }
}


div.list-with-heading{
    font-family:variables.$main_font;
    &>h3{
        color:variables.$primary_color;
        font-size:1.3em;
        margin-bottom:0.5em;
    }
    &>ul{
        padding-left:0px;
        margin:0px;
        &>a{
            font-family: variables.$inter_font;
            display:block;
            margin:0.5em 0px;
            text-decoration:none;
            color:white;
        }
    }
}

div.loader-wrapper{
    position:fixed;
    background-color:rgba(0,0,0,0.3);
    z-index:1010;
    display:grid;
    place-items:center;
    inset : 0px;
    &>div.loader{
        display:flex;
        &>span{
            width:1.5em;
            height:1.5em;
            margin:0px 0.5em;
            box-shadow:0px 0px 20px 5px rgba(0,0,0,0.05);
            animation:squish-rotate 1s ease-in-out infinite;
            background-color:variables.$primary_color;
        }
        @keyframes squish-rotate {
            0%{
                transform:rotateZ(0deg);
                border-radius:0.5em;
            } 
            50%{
                transform:rotateZ(180deg);
                border-radius:10%;
            }
            100%{
                transform: rotateZ(360deg);
                border-radius:50%;
            }
        }
    }
}